#innerCon
{
    margin: 50px 100px 100px;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    padding : 20px;
    border-radius: 1%;
}

#mybutton
{
    border-radius: 5%;
}

#firstPara
{
    padding-left: 3px;
    padding-right: 3px;
}

h1
{
    text-align: center;
}

h3
{
    text-align: center;
}

img
{
    border-radius: 2%;
}

nav
{
    background-color: lightgray;
}

#note
{
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-radius: 3%;
    background-color: lightgray;

    padding : 10px;
}

#mybutton
{
    padding-top: 20em;
}

#mybutton2
{
    padding-top: 7em;
    margin-left: 7em;
}

fieldset
{
    padding-left: 30px;
}

#checkInputs
{
    padding-right: 5px;
}
.err
{
    color: red;
}